<h1>Questions#answer</h1>
<p>Find me in app/views/questions/answer.html.erb</p>

<p><%= "Your answer is #{@message} "%></p>
<p>-You</p>
<P><%= @answer %></P>
<p>Your coach mother fucker</p>

 <%= link_to "Ask a question", ask_path %>
